// BreakPoints --------------------- /
$screen-xs      : 480px;  // phone
$screen-xxs     : 640px;  // phablet
$screen-sm      : 768px;  // tablet
$screen-md      : 992px;  // desktop
$screen-lg      : 1200px; // wide desktop
$screen-lgg     : 1920px; // wide desktop

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max : ($screen-xxs - 1);
$screen-xs-max  : ($screen-xs - 1);
$screen-sm-max  : ($screen-sm - 1);
$screen-md-max  : ($screen-md - 1);
$screen-lg-max  : ($screen-lg - 1);

// Header height ------------------- /
$header-height-lg : 55px;
$header-height-sm : 50px;

// Pallete Colors ------------------ /
$primary            : #ec0000;
$secondary          : #00a85a;
$base               : #757575;
$bg-color           : #757575;

$primary-light-1    : lighten($primary, 45%);
$gray-light         : #f1f1f1;
$gray               : #dddddd;
$gray-mid           : #828282;

// BorderRadius ------------------ /
$borRadius-primary : 6px;
$borRadius-xs : 3px;

// Fonts --------------------------- /
$font-default: 'Open sans', sans-serif;
$font-glyphs:  "glyphicons-pag", "custom-glyphicons", "Glyphicons Halflings"; 

$fsize-3             : 1.2rem;
$fsize-4             : 1.3rem;

/* icons */

// Dirs ---------------------------- /
$dir-src: './';
