.cards{
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
  border-radius: $borRadius-primary ;
  margin-bottom: 2em;
  transition: 180ms ease;
  &:hover{
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }
  a{
    text-decoration: none;
    &:hover{
      color: inherit;
    }
  }
  .title{
    font-weight: 600;
    margin-bottom: 0.33em;
    font-size: 1.1em;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    min-height: 20px;
    text-overflow: ellipsis;
  }
  .author{
    margin-left: 0.7em;
    font-size: 0.9em;
  }
  .time{
    font-size: 0.85em;
    margin: 0 0 1em;
    display: inline-block;
    font-weight: 200;
  }
  .extra-info{
    font-size: 0.9em;
  }
  .description{
    font-size: 0.95em;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 0.9em;
  }
  &.slider-box{
    min-height: 770px;
    position: relative;
    .title{
      font-size: 1.8em;
    }
    ul{
      display: flex;
    }
    .navigation{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      display: flex;
      position: absolute;
      bottom: 15px;
      right: 15px;
    .btn{
      width: 45px;
      height: 45px;
      background: #736cfe;
      color: #fff;
      margin-left: 0.3em;
      border-radius: 0.5em;
      font-weight: 200;
      font-size: 1.4em;
      line-height: 1.4;
      &.previously{
        opacity: 0.8;
      }
    }

    }
  }
  &.solo{
    width: 47%;
    img{
      height: 185px;
    }
  }
  .outer-image{
    border-radius: 1em;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    img{
      width: 100%;
      max-width: 100%;
    }
  }
  .body{
    padding: 1.5em;
  }
}

.wrapper-cards{
    width: 68%;
    display: flex;
    padding: 0 2em;
    padding-right: 0;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
  
  .solo{
    min-height: 353px;
    &:nth-child(even){
      margin-left: 2em;
    }

  }
  &.lg-12{
    width: 100%;
    flex-flow: row wrap;
    padding: 0;
    justify-content: flex-start;
    .solo{
      width: 31.2%;
      margin: 2%;
      margin-top: 0;
      margin-right: 0;
      &:nth-child(3n+1){
        margin-left: 0;
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      .solo{
        width: 70%;
        margin: 0 auto 2em;
        &:nth-child(3n+1),
        &:nth-child(even){
          margin: 0 auto 2em;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max){
  .slider-box{
    display: none;
  }
  .wrapper-cards{
    width: 100%;
    padding: 0;
    .solo{
      width: 70%;
      min-width: 270px;
      &:nth-child(even){
        margin: 0;
      }
    }
  }
}