.main-header {
  height: $header-height-lg;
  color: #ffffff;
  

  .container {
    position: relative;
    height: inherit;

    nav,
    ul,
    li {
      height: inherit;
    }
  }

  a {
    text-decoration: none;
    -webkit-transition: 110ms ease;
    transition: 110ms ease;
    &:hover {
      opacity: 0.7;
    }
  }

  li.brand {
    a {
      font-weight: 800;
      z-index: 20;
      color: inherit;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);

      .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        svg {
          width: 55px;
        }

        .title {
          display: inline-block;
          margin-left: 2.6em;
          position: relative;
          letter-spacing: 7.9px;
          font-weight: 200;
          font-family: serif;
          font-size: 0.9em;
          text-transform: uppercase;

          &:before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 30px;
            background-color: #fff;
            opacity: 0.7;
            position: absolute;
            left: -18px;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
          }

          @media screen and (max-width: $screen-md-max) {
            & {
              display: none;
            }
          }
        }
      }
    }
  }

  li.mobile {
    display: none;
  }

 


  li.primary {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    z-index: 10;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    .item {
      color: inherit;
      font-weight: 800;
      margin: 1em;
      text-transform: uppercase;
      cursor: pointer;
      &.active{
        padding-bottom: 0.4em;
        border-bottom: 2px solid #f69800;
      }
    }
  }
  &.secondary-scheme{
    color: #AAAAAA;
    .brand{
      .title{
        &:before {
          background-color: #AAAAAA;
        }
      }
    }
  }
  @media screen and (max-width: $screen-xxs-max) {
    li.primary {
      display: none;

    }
  }
}
